[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "company-mode"]
	path = lib/company-mode
	url = git@github.com:company-mode/company-mode.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "flycheck-rust"]
	path = lib/flycheck-rust
	url = git@github.com:flycheck/flycheck-rust.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "paredit"]
	path = lib/paredit
	url = git@github.com:emacsmirror/paredit.git
[submodule "rust-mode"]
	path = lib/rust-mode
	url = git@github.com:rust-lang/rust-mode.git
[submodule "swiper"]
	path = lib/swiper
	url = git@github.com:abo-abo/swiper.git
[submodule "third_party/beancount-mode"]
	path = third_party/beancount-mode
	url = git@github.com:beancount/beancount-mode.git
[submodule "third_party/org-pivotal"]
	path = third_party/org-pivotal
	url = git@github.com:org-pivotal/org-pivotal.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:magit/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "compat"]
	path = lib/compat
	url = git@github.com:emacs-compat/compat.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "llama"]
	path = lib/llama
	url = git@github.com:tarsius/llama.git
